/** Dark Theme base color**/
/**GU-Grey Undertone**/
$surface-dark-GU-100: #152238;
$surface-dark-GU-200: #2c364b;
$surface-dark-GU-300: #444c60;
$surface-dark-GU-400: #5c6375;
$surface-dark-GU-500: #757b8a;
$surface-dark-GU-600: #8f94a1;

/**PU-Purple Undertone**/
$surface-dark-PU-100: #10013d;
$surface-dark-PU-200: #291c51;
$surface-dark-PU-300: #423465;
$surface-dark-PU-400: #5b4e7a;
$surface-dark-PU-500: #75698f;
$surface-dark-PU-600: #8f85a4;

/**Light Theme base color**/
$surface-light-100: #f7f4ea;
$surface-light-200: #f8f5ec;
$surface-light-300: #f9f6ef;
$surface-light-400: #faf8f1;
$surface-light-500: #fbf9f3;
$surface-light-600: #fbfaf6;

/**Main Colors**/


/**Neon Glow Colors**/
/**Turquoise**/
$neon-primary-100: #13e6e1;
$neon-primary-200: #51e9e4;
$neon-primary-300: #71ece8;
$neon-primary-400: #8befeb;
$neon-primary-500: #a1f2ee;
$neon-primary-600: #b6f5f2;
/**Purple**/
$neon-secondary-100: #a600ed;
$neon-secondary-200: #b33af0;
$neon-secondary-300: #bf58f3;
$neon-secondary-400: #cb72f5;
$neon-secondary-500: #d58bf7;
$neon-secondary-600: #dfa2f9;
/**Pink**/
$neon-tertiary-100: #e402fd;
$neon-tertiary-200: #ea44fe;
$neon-tertiary-300: #ef64ff;
$neon-tertiary-400: #f37eff;
$neon-tertiary-500: #f796ff;
$neon-tertiary-600: #faacff;
/**Blue**/
$neon-quartary-100: #4c67fb;
$neon-quartary-200: #6976fc;
$neon-quartary-300: #8186fd;
$neon-quartary-400: #9697fe;
$neon-quartary-500: #a9a7ff;
$neon-quartary-600: #bcb8ff;
/**PinkOrange**/
$neon-quinary-100: #e34d98;
$neon-quinary-200: #e865a3;
$neon-quinary-300: #ed7aae;
$neon-quinary-400: #f18eb9;
$neon-quinary-500: #f5a2c5;
$primary-600: #f8b5d0;









/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #30d5c8;
$primary-200: #58dace;
$primary-300: #73dfd4;
$primary-400: #8be4da;
$primary-500: #a1e9e0;
$primary-600: #b5ede6;
/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #152238;
$surface-200: #2c364b;
$surface-300: #444c60;
$surface-400: #5c6375;
$surface-500: #757b8a;
$surface-600: #8f94a1;
/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #2a757c;
$surface-mixed-200: #46848a;
$surface-mixed-300: #5e9298;
$surface-mixed-400: #75a1a6;
$surface-mixed-500: #8cb0b4;
$surface-mixed-600: #a3c0c3;

/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #38b1da;
$primary-200: #5abade;
$primary-300: #74c2e2;
$primary-400: #8acbe6;
$primary-500: #9fd3eb;
$primary-600: #b4dcef;


/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #4b4de1;
$primary-200: #675fe5;
$primary-300: #7e72e9;
$primary-400: #9385ed;
$primary-500: #a698f0;
$primary-600: #b9acf4;

/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #c938b4;
$primary-200: #d154bc;
$primary-300: #d86cc5;
$primary-400: #df83cd;
$primary-500: #e698d6;
$primary-600: #ecadde;


/** SCSS DARK THEME PRIMARY COLORS */



/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #451c91;
$primary-200: #5c359d;
$primary-300: #724daa;
$primary-400: #8765b6;
$primary-500: #9b7dc2;
$primary-600: #af96cf;


/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #13e6e1;
$primary-200: #51e9e4;
$primary-300: #71ece8;
$primary-400: #8befeb;
$primary-500: #a1f2ee;
$primary-600: #b6f5f2;


/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #3c086d;
$primary-200: #53267d;
$primary-300: #68408d;
$primary-400: #7e599d;
$primary-500: #9373ad;
$primary-600: #a98ebd;



/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #f7f4ea;
$primary-200: #f8f5ec;
$primary-300: #f9f6ef;
$primary-400: #faf8f1;
$primary-500: #fbf9f3;
$primary-600: #fbfaf6;

/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #741d9a;
$primary-200: #853aa5;
$primary-300: #9553b1;
$primary-400: #a56cbc;
$primary-500: #b584c7;
$primary-600: #c49cd3;


/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #a600ed;
$primary-200: #b33af0;
$primary-300: #bf58f3;
$primary-400: #cb72f5;
$primary-500: #d58bf7;
$primary-600: #dfa2f9;


/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #e34d98;
$primary-200: #e865a3;
$primary-300: #ed7aae;
$primary-400: #f18eb9;
$primary-500: #f5a2c5;
$primary-600: #f8b5d0;

/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #e402fd;
$primary-200: #ea44fe;
$primary-300: #ef64ff;
$primary-400: #f37eff;
$primary-500: #f796ff;
$primary-600: #faacff;


/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #4c67fb;
$primary-200: #6976fc;
$primary-300: #8186fd;
$primary-400: #9697fe;
$primary-500: #a9a7ff;
$primary-600: #bcb8ff;







